@import "../../variables";

$card-padding: 20px;
$card-border-radius: 5px;
$card-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);

@mixin card-styles {
  width: 30%;
  padding: $card-padding;
  background-color: $color-primary-800;
  border-radius: $card-border-radius;
  box-shadow: $card-box-shadow;

  &__header {
    margin-bottom: 10px;
    gap: 10px;
  }

  &__icon {
    background-color: $color-secondary-400;
    color: $color-secondary-800;
    border-radius: $card-border-radius;
    padding: 6px;
  }

  &__title {
    font-size: 1.2rem;
    color: $color-primary-300;
  }

  &__value {
    font-weight: 700;
    font-size: 1.5rem;
    color: $color-primary-100;
  }
}

.card-list {
  flex-wrap: wrap;
  justify-content: space-around;

  .card {
    @include card-styles;
  }

  @media screen and (max-width: 767px) {
    .card {
      width: 100%;
      margin-top: 10px;
    }
  }
}
