@import '../../variables';

$button-colors: (
  primary: (
    background: $color-primary-500,
    text: $color-neutral-100,
    hover-background: $color-primary-800,
    hover-text: $color-primary-300,
    focus-background: $color-primary-700,
    border: 2px solid $color-primary-500,
    outlined-background: transparent,
    outlined-text: $color-primary-500
  ),
  secondary: (
    background: $color-secondary-500,
    text: $color-neutral-800,
    hover-background: $color-secondary-400,
    hover-text: $color-secondary-800,
    focus-background: $color-secondary-700,
    border: 2px solid $color-secondary-500,
    outlined-background: transparent,
    outlined-text: $color-secondary-500
  ),
  success: (
    background: $color-success-500,
    text: $color-success-900,
    hover-background: $color-success-400,
    hover-text: $color-success-700,
    focus-background: $color-success-600,
    border: 2px solid $color-success-500,
    outlined-background: transparent,
    outlined-text: $color-success-500
  ),
  danger: (
    background: $color-danger-500,
    text: $color-danger-100,
    hover-background: $color-danger-300,
    hover-text: $color-danger-900,
    focus-background: $color-danger-600,
    border: 2px solid $color-danger-500,
    outlined-background: transparent,
    outlined-text: $color-danger-500
  ),
  warning: (
    background: $color-warning-500,
    text: $color-warning-900,
    hover-background: $color-warning-900,
    hover-text: $color-warning-500,
    focus-background: $color-warning-900,
    border: 2px solid $color-warning-500,
    outlined-background: transparent,
    outlined-text: $color-warning-500
  )
);

@each $color, $values in $button-colors {
  .button.#{$color} {
    background-color: map-get($values, background);
    color: map-get($values, text);

    &:hover {
      background-color: map-get($values, hover-background);
      color: map-get($values, hover-text);
    }

    &:focus {
      background-color: map-get($values, focus-background);
      color: map-get($values, text);
    }

    &:active {
      box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.2);
    }

    &.outlined {
      border: map-get($values, border);
      background-color: map-get($values, outlined-background);
      color: map-get($values, outlined-text);
    }
  }
}

.button {
  border-radius: 4px;
  border-width: 1px;
  display: flex;
  gap: 5px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
  padding: 8px 16px;
  transition: all 0.2s ease;

  &.outlined {
    background-color: transparent;
  }
}