<nav class="navbar flex space-between main-center">
  <div class="navbar__logo">
    <img
      class="navbar__logo-image flex main-center"
      src="assets/img/brand/flow_logo_white.svg"
      alt="Logo">
  </div>
  <ul class="navbar__list flex" [ngClass]="{ 'navbar__list--open': isNavbarOpen }">
    <li *ngFor="let item of navItems" class="navbar__list-item">
      <a
        [routerLink]="item.link"
        routerLinkActive="active"
        class="navbar__list-item-link"
        (click)="closeNavbar()"
        >{{ item.label }}</a>
    </li>
  </ul>
  
  <app-button
    class="navbar__toggle"
    icon="{{ isNavbarOpen ? 'close' : 'menu' }}"
    color="primary"
    (click)="toggleNavbar()">
  </app-button>
</nav>
