@import '../../../core/variables';

.active {
  color: $color-secondary-500;
}

.navbar {
  background-color: $color-primary-900;
  padding: 20px;

  &__logo {
    &-image {
      max-width: 100px;
    }
  }

  &__list {
    &-item {
      margin: 0 10px;

      &-link {
        color: $color-primary-200;
        &:hover {
          background-color:$color-primary-700;
          padding: 8px;
          border-radius: 4px;
        }

        &.active {
          color: $color-secondary-500;
          font-weight: 700;
        }
      }
    }
  }

  &__toggle {
    display: none;
  }

  @media (max-width: 768px) {
    &__list {
      display: none;
      position: fixed;
      top: 70px;
      left: 0;
      right: 0;
      background-color: $color-primary-800;
      padding: 20px;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      height: calc(100vh - 70px);

      &-item {
        margin: 10px 0;
      }

      &-link {
        font-size: 1.2rem;
        color: $color-primary-200;
        text-transform: uppercase;
      }
    }

    &__toggle {
      display: block;
    }

    &__list--open {
      display: flex;
    }
  }
}
