@import "../../../../assets/styles/colors";

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  background-color: $color-primary-900;
  padding: 0 20px;

  &__logo {
    &-image {
      height: 50px;
    }
  }

  &__list {
    display: flex;

    &-item {
      margin-right: 20px;
    }

    &-link {
      color: $color-primary-100;

      &:after {
        content: "";
        display: block;
        height: 2px;
        width: 0px;
        transition: 0.3s;
        background: $color-secondary-300;
      }
      &:hover::after {
        width: 100%;
      }
    }

    &--open {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 80px;
      left: 0;
      width: 100%;
      background-color: $color-primary-100;
      padding: 20px;
      margin: 0;
      border-top: 1px solid $color-primary-500;

      &-item {
        margin: 0 0 10px 0;
      }

      &-link {
        color: $color-primary-900;
        text-decoration: none;
        font-size: 18px;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  &__toggle {
    display: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 2rem;
    color: $color-primary-200;

    &-icon {
      vertical-align: middle;
    }
  }

  @media (max-width: 1080px) {
    .navbar__list {
      &-link {
        color: $color-primary-900;
      }
    }
    &__toggle {
      display: block;
      position: absolute;
      top: 20px;
      right: 20px;
    }

    &--open {
      &__list {
        display: flex;
      }
    }
  }
}
