<nav class="navbar">
  <div class="navbar__logo">
    <img
      class="navbar__logo-image"
      src="assets/img/brand/flow_logo_white.svg"
      alt="Logo"
    />
  </div>
  <ul class="navbar__list" [ngClass]="{ 'navbar__list--open': isNavbarOpen }">
    <li *ngFor="let item of navItems" class="navbar__list-item">
      <a [routerLink]="item.link" class="navbar__list-link">{{ item.label }}</a>
    </li>
  </ul>
  <app-button
    class="navbar__toggle"
    icon="{{ isNavbarOpen ? 'close' : 'menu' }}"
    color="primary"
    (click)="toggleNavbar()">
  </app-button>
</nav>
