@import "../../../../../assets/styles/colors";

.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $color-primary-700;
    padding: 2rem;
}