@import "./assets/styles/tipography";
@import "./assets/styles/colors";

body {
  background-color: $color-surface-500;
  color: $color-neutral-800;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  background: transparent;
  appearance: none;
  -webkit-appearance: none;
}

button:focus,
input:focus,
select:focus,
textarea:focus {
  outline: none;
}
