$color-primary-100: #e5e4f5;
$color-primary-200: #c9c7eb;
$color-primary-300: #aca9e2;
$color-primary-400: #908ddb;
$color-primary-500: #23216E;
$color-primary-600: #1d1a5e;
$color-primary-700: #191650;
$color-primary-800: #131142;
$color-primary-900: #0e0b34;

$color-secondary-100: #e4f9f5;
$color-secondary-200: #c9f2ea;
$color-secondary-300: #ade9df;
$color-secondary-400: #92e2d4;
$color-secondary-500: #45D2B0;
$color-secondary-600: #1c635e;
$color-secondary-700: #194f4c;
$color-secondary-800: #133b3a;
$color-secondary-900: #0e2728;

$color-warning-100: #fff4e5;
$color-warning-200: #ffe0c9;
$color-warning-300: #ffc9ac;
$color-warning-400: #ffb390;
$color-warning-500: #ffbb33;
$color-warning-600: #de9f18;
$color-warning-700: #b77e13;
$color-warning-800: #8f5d0e;
$color-warning-900: #663c0a;

$color-danger-100: #f0e1e1;
$color-danger-200: #d2b2b2;
$color-danger-300: #b38383;
$color-danger-400: #944e4e;
$color-danger-500: #e60000;
$color-danger-600: #c60000;
$color-danger-700: #a50000;
$color-danger-800: #850000;
$color-danger-900: #660000;

$color-info-100: #e5f5ff;
$color-info-200: #c7eaff;
$color-info-300: #a9dfff;
$color-info-400: #8dd4f4;
$color-info-500: #33b5e5;
$color-info-600: #2e94c3;
$color-info-700: #2472a3;
$color-info-800: #1b5182;
$color-info-900: #133962;

$color-success-100: #e5ffe8;
$color-success-200: #c7ffd1;
$color-success-300: #a9ffb9;
$color-success-400: #8dffa2;
$color-success-500: #00c851;
$color-success-600: #009e43;
$color-success-700: #007b36;
$color-success-800: #00582a;
$color-success-900: #00351e;