.tc-p {
  color: $color-primary-200;
}

.tc-s {
  color: $color-secondary-200;
}

.tc-w {
  color: $color-warning-200;
}

.tc-d {
  color: $color-danger-200;
}

.tc-i {
  color: $color-info-200;
}

.tc-ss {
  color: $color-success-200;
}

.tc-sf {
  color: $color-surface-200;
}

.tc-n {
  color: $color-neutral-200;
}

.flex{
  display: flex;
}

.space-between{
  justify-content: space-between;
}

.main-center{
  align-items: center;
}