<aside class="modal" aria-modal="true" role="dialog" tabindex="-1">
  <div class="modal__container">
    <header class="modal__header flex space-between main-center">
      <h1 class="modal__title">{{ title }}</h1>
      <button
        class="modal__header__close-button"
        aria-label="Fechar"
        type="button"
        (click)="onClose.emit()"
      >
        <i class="material-icons">close</i>
      </button>
    </header>
    <div class="modal__body">
      <ng-content></ng-content>
    </div>
    <hr>
    <footer class="modal__footer flex">
      <app-button
        icon="save"
        text="{{ saveText }}"
        color="success"
        (click)="onSave.emit()"
      ></app-button>
      <app-button
        text="Cancelar"
        (click)="onClose.emit()"
      ></app-button>
    </footer>
  </div>
</aside>
